<div class="containers_vn panel panel-default">
    <table class="tb_data table table-striped table-bordered table-hover">
        <tr>
            <th>
                ID_Persona
            </th>
            <th>
                Nombre
            </th>
            <th>
                Cedula
            </th>
            
            <th class="cl_actions">
                Accion
            </th>
        </tr>
        @if (Model != null && Model.Lista != null && Model.Lista.Any())
        {
            @foreach (var elemento in Model.Lista)
            {
                <tr>
                    <td>
                        @elemento.ID_Persona
                    </td>
                    <td>
                        @elemento.Nombre
                    </td>
                    <td>
                        @elemento.Cedula
                    </td>


                    <td class="cl_actions">
                        
                    </td>
                </tr>
            }
        }
        
    </table>
</div>
